section.missao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 60px 60px 60px 60px;
    background: var(--cor-preto);
    overflow: hidden;
    position: relative;

}

section.missao .container {
    width: 100%
}

section.missao .container,
section.missao .header {
    align-items: center;
    display: flex;
    flex-direction: column
}

section.missao .header {
    margin: 0 0 30px;
    text-align: center
}

section.missao .header h2 {
    font-family: var(--semibold);
    font-size: var(--f6);
    line-height: 1.3;
    max-width: 550px;
    background: var(--cor-branco-linear);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

section.missao .header p {
    font-family: var(--light);
    font-size: var(--f3);
    color: var(--cor-cinza-texto);
    line-height: 1.5;
    margin: 5px 0 20px 0;
    max-width: 500px;
}

section.missao .steps {
    display: flex;
    gap: 20px;
    width: 100%
}

section.missao .steps .step {
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: #161616;
    border: solid 1px #49536B;
    padding: 30px;
    box-shadow: 0 5px 30px 0 #0906200c;
    border-radius: 10px;
    margin: 20px 0 0 0;
    transition:
        border-color .35s ease,
        box-shadow .35s ease,
        background-color .35s ease;
}

section.missao .steps .step .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    min-width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color: #1C1F28;
    border: solid 1px #4D6ACB;
}

section.missao .steps .step h3 {
    font-family: var(--semibold);
    font-size: var(--f3);
    color: var(--cor-branco);
    margin: 15px 0 0 0;
}

section.missao .steps .step p {
    font-family: var(--light);
    font-size: var(--f2);
    color: var(--cor-cinza-texto);
    line-height: 1.5;
    margin: 5px 0 0 0;
}

@media screen and (max-width: 1000px) {
    section.missao {
        padding: 100px 30px
    }

    section.missao .header h2 {
        font-size: var(--f5)
    }

    section.missao .steps {
        flex-direction: column;
        gap: 10px
    }

    section.missao .steps .step {
        width: 100%
    }

    section.missao .header p {
        font-size: var(--f2);
    }
}